{% extends "base.html" %}
 
{% block 'content' %}
<div class="breadcum">
  <h3 class="fb f-52 mb-3 white"> Blog</h3>
  <ul class="d-flex justify-content-center gap-3">
    <li><a href="/">Home</a></li>
    <li class="white">/</li>
    <li class="orange">Blog </li>
  
  </ul>
</div>
</header>


 <!-- service details start -->
 <section class="ptb-110 gray_bg mlr-17">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="service_details">
          <img src="../static/assets/images/banner/coming.png" alt="" class="d-block mb-5">

        

        </div>
      </div>
    </div>
  </div>

</section>
<!-- service details end -->






<!-- get in touch -->
{% endblock 'content' %}