  
  
  
  
  <!-- footer start -->
   <footer class="mlr-17 "style="background:#000;">
    <div class="footer_contact muddy_bg py-4">
        <div class="container">
            <ul
                class="d-flex align-items-center gap-3 gap-md-4 justify-content-start justify-content-md-center flex-wrap">
                <li><a href="mailto:ak3400988@gmail.com">
                        <h5 class="white fsb">ak3400988@gmail.com</h5>
                    </a></li>
                <li class="d-none d-md-block">
                    <h5 class="white fsb">/</h5>
                </li>
                <li>
                    <h5 class="white fsb">Dwarka Modr ,New Delhi</h5>
                </li>
                <li class="d-none d-md-block">
                    <h5 class="white fsb">/</h5>
                </li>
                <li><a href="tell:8527321599">
                        <h5 class="white fsb">8527321599</h5>
                    </a></li>
            </ul>
        </div>
    </div>
    <!-- <div class="footer_bottom pt-4">
        <div class="container bb">
            <h1 class="italic fb text-center">LET’S WORK</h1>
        </div>
    </div> -->
    <div class="copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <h6 class="fb text-center text-md-start">© 2024 <a href="/" class="orange">Tarun Kumar</a>,
                        All Rights
                        Reserved.</h6>
                </div>

                <div class="col-md-6 col-12">
                    <ul class="d-flex gap-2 gap-md-4 justify-content-center justify-content-lg-end flex-wrap">
                        <li><a href="#">
                                <h6 class="fb text-upper dark tran">Facebook</h6>
                            </a></li>
                        <li><a href="#">
                                <h6 class="fb text-upper dark tran">Instagram</h6>
                            </a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->





<!--scroll top button start-->
<button type="button" class="scroll-top-btn"><i class="fa-solid fa-arrow-up-long"></i></button>
<!--scroll top button end-->



<!--Esential Js Files-->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/slick.js"></script>
<script src="../static/assets/js/jquery-ui.js"></script>
<script src="../static/assets/js/nice-select.js"></script>
<script src="../static/assets/js/isotop.min.js"></script>
<script src="../static/assets/js/counterup.min.js"></script>
<script src="../static/assets/js/waypoints.js"></script>
<script src="../static/assets/js/fancybox.js"></script>
<script src="../static/assets/js/wow.js"></script>
<script src="../static/assets/js/script.js"></script>
<script src="../static/assets/js/model.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> -->


</body>


<!-- Mirrored from innovativeartisan.com/demo/html/nina/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jan 2024 19:17:12 GMT -->
</html>