
{% extends "base.html" %}
 
{% block 'content' %}

    
       



    <div class="banner pb-5 pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-12 pb-5 pb-lg-0">
                    <div class="banner_left">
                        <h6 class="text-uppercase fb white">hello, <span class="orange">I am</span> </h6>
                        <h2 class="feb white"> <span class="orange"> {{slider.title}}</span></h2>
                        <h5 class="fsb white"> <span class="italic">{{slider.title_short}} </span></h5>
                        <p class="my-4 lightext">{{slider.title_long}}</p>
                        <div class="hire_downlaod d-flex align-items-center gap-4 gap-md-5 flex-wrap">
                            <a href="#" class="white fsb" data-toggle="modal" data-target="#exampleModalCenter"><span><i class="fa-solid fa-angle-right"></i></span>Hire
                                me</a>
                            <a href="{{slider.pdf.url}}" class="default-btn1" download="">Download CV <i class="fa-solid fa-arrow-up-long"></i>
                                <span></span>
                            </a>
                        </div>
                        <ul
                            class="d-flex gap-4 mt-sm-4 mt-5 flex-wrap pt-0 pt-sm-5 justify-content-center justify-content-sm-start">
                            <li>
                                <div class="counter_item d-flex b justify-content-center align-items-center gap-4">
                                    <h3 class="white fb"><span class="count">1.5 +</span></h2>
                                        <p class="lightext">Year <br> of Experience</p>
                                </div>
                            </li>
                            <li>
                                <div class="counter_item d-flex b justify-content-center align-items-center gap-4">
                                    <h3 class=" white fb"><span class="count">500</span></h3>
                                    <p class="lightext">Completed <br> Projects</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="banner_right text-center position-relative">
                        <img src="{{slider.image.url}}" alt="reload">

                        <div class="signal1 position-relative position-absolute ">
                            <span class="round"></span>
                            <div
                                class="sig_content d-flex justify-content-between white_bg align-items-center shadow">
                                <img src="../static/assets/images/icon/dw.png" alt="">
                                <h6 class="fb">Wordpress</h6>
                                <span class="fb white orange_bg rounded-5 py-1 px-3">80% to 99%</span>
                            </div>
                        </div>

                        <div class="signal1 signal2 position-relative position-absolute ">
                            <span class="round"></span>
                            <div
                                class="sig_content d-flex justify-content-between white_bg align-items-center shadow">
                                <img src="../static/assets/images/banner/front_logo.png" alt="">
                                <h6 class="fb">Front end Developer</h6>
                                <span class="fb white orange_bg rounded-5 py-1 px-3">70%</span>
                            </div>
                        </div>

                        <div class="signal1 signal3 position-relative position-absolute ">
                            <span class="round"></span>
                            <div
                                class="sig_content d-flex justify-content-between white_bg align-items-center shadow">
                                <img src="../static/assets/images/banner/web_logo.png" alt="">
                                <h6 class="fb">Web Desinger</h6>
                                <span class="fb white orange_bg rounded-5 py-1 px-3">99%</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
      <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Hire me</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
            <div class="row" >
                 
               <div class="col-md-12">
                
                    <div style="display: flex;height: 50px;">
                        <div class="col-md-6">
                            <div class="col from_margin">
                                <input type="text" class="form-control"name="full_name"  placeholder="Full name" >
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col from_margin">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                              </div>
                        </div>
                    </div>
              </div>
          
            </div>
            <div class="row"  > 
                <div class="col-md-12">
                     <div >
                         <div class="col-md-12">
                             <div class="col from_margin" >
                                 <input type="number" class="form-control" name="number" placeholder="Number">
                               </div>
                         </div>
                         <div class="col-md-12">
                             <div class="col from_margin" >
                                <textarea class="form-control" name="message" placeholder="Message"
                                ></textarea>
                               </div>
                         </div>
                     </div>
                     
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-success">Submit</button>
                   </div>
                </div>
             </div>
        </form>
        </div>
        
      </div>
    </div>
  </div>
   <!-- Modal  end-->
    <!-- header end -->

    <main>

    

  


        <!-- Portfolio start -->
        <section class="ptb-110 m-17 gray_bg">
            <div class="container">
                <div class="row  mb-5">
                    <div class=" col-12">
                        <div class="common_heading text-center" >
                          
                            <h3 class="f-52 fb dark"><span class="italic orange">---</span>&nbsp;My Project&nbsp;<span class="italic orange">---</span></h3>
                        </div>
                    </div>
                </div>
                <div class="row">

                    {% for d_myproject in myproject %}
                    
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-4 mb-md-5 ">
                        <a href="allmyprojectdetails/{{d_myproject.id}}" >
                            <div class="portfolio_item">
                                <div class="por_img rounded-4  mb-4 img position-relative">
                                    <img src="{{d_myproject.project_image.url}}" alt="">
                                    <span class="position-absolute white_bg center dark"><i
                                            class="fa-solid fa-arrow-up-long"></i></span>
                                </div>
                                <div class="por_content">
                                    <p class="fm dark mb-3">{{d_myproject.description_title}}</p>
                                    <div class="d-flex align-item-center justify-content-between">
                                        <h4 class="fb tran dark">{{d_myproject.title|truncatechars:20}}</h4>
                                        
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                   
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Portfolio end -->

        <!-- skill start -->
        <section class="ptb-110 mlr-17 "style=" background-color: #472f2f;">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-8 col-md-10 col-12">
                        <div class="common_heading text-center">
                            <h6 class="muddy fsb text-uppercase mb-3">I Am a wordpress Developer</h6>
                            <h3 class="f-52 fb darkks">I Develop <span class="italic orange">Skills</span> Regularly to
                                Keep
                                Me Update</h3>
                        </div>
                    </div>
                </div>

                <div class="skill_item">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-home"
                                type="button" role="tab">My Education</button>

                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                                role="tab">My Experience</button>

                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-skill" type="button"
                                role="tab">Professional Skills</button>

                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-award" type="button"
                                role="tab">My Awards</button>
                        </div>
                    </nav>

                    <div class="tab-content mt-5" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
                            <div class="row">
                                <div class="col-12">
                                    <div class="what_progress d-none d-xl-block">
                                        <span class="pro_line"></span>
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 pe-xxl-3 pe-xl-2 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2015 - 2017</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row justify-content-end">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ps-xxl-3 ps-xl-2 me-xl-4 me-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic flex-shrink-0">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2013 - 2012</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="what_progress d-block d-xl-none">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2015 - 2017</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2013 - 2012</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile">
                            <div class="row">
                                <div class="col-12">
                                    <div class="what_progress d-none d-xl-block">
                                        <span class="pro_line"></span>
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 pe-xxl-3 pe-xl-2 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2015 - 2017</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row justify-content-end">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ps-xxl-3 ps-xl-2 me-xl-4 me-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic flex-shrink-0">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2013 - 2012</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="what_progress d-block d-xl-none">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2015 - 2017</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2013 - 2012</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-skill">
                            <div class="row">
                                <div class="col-12">
                                    <div class="what_progress d-none d-xl-block">
                                        <span class="pro_line"></span>
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 pe-xxl-3 pe-xl-2 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2015 - 2017</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row justify-content-end">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ps-xxl-3 ps-xl-2 me-xl-4 me-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic flex-shrink-0">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2013 - 2012</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="what_progress d-block d-xl-none">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2015 - 2017</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2013 - 2012</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-award">
                            <div class="row">
                                <div class="col-12">
                                    <div class="what_progress d-none d-xl-block">
                                        <span class="pro_line"></span>
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 pe-xxl-3 pe-xl-2 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2015 - 2017</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row justify-content-end">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ps-xxl-3 ps-xl-2 me-xl-4 me-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic flex-shrink-0">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div
                                                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9 col-12 ms-xl-4 ms-xxl-0">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <div class="p_content_left">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                            <span class="progress_number"></span>
                                                            <h4 class="fb italic flex-shrink-0">2013 - 2012</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="what_progress d-block d-xl-none">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2015 - 2017</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Programming Course</h5>
                                                                <p>Harvard University</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2014 - 2015</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>AS - Science & Information</h5>
                                                                <p>University of California</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div
                                                            class="progress_content d-flex align-items-center gap-xl-5 gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                            <h4 class="fb italic">2013 - 2012</h4>
                                                            <span class="progress_number"></span>
                                                            <div class="p_content_left p_content_right">
                                                                <h5>Web Design Course</h5>
                                                                <p>Bigtown, England</p>
                                                                <hr>
                                                                <p>Duis aute irure dolor in reprehenderit in voluptate
                                                                    velit excepteur sint occaecat cupidatat non
                                                                    proident, sunt in culpa</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </section>
        <!-- skill end -->

       <br/>

        

      


    
    </main>

    {% endblock 'content' %}